<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                align-items: center;
                align-self: center;
                align-content: center;
                text-align: center;
                vertical-align: middle;
                font-family: 'Times New Roman', Times, serif;
                top:10%;
                font-size:x-large;
            }
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>{% block body %}{% endblock %}</body>
</html>